@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&family=Chivo+Mono:wght@200&family=Nerko+One&family=Nunito:ital,wght@1,200&family=Open+Sans&family=PT+Serif:ital,wght@0,700;1,700&family=Roboto+Mono:ital,wght@1,600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background-color: rgb(83, 79, 79);
}
footer{
    position: relative;
    width: 100%;
    background-color: greenyellow;
    min-height: 100px;
    padding:20px 50px;

}